@charset "UTF-8";
/* 调色盘: https://codepen.io/cmegown/pen/VaMzQq */

* {
    box-sizing: border-box;
    /* boostrap已经在通配符选择器这么做了 */
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    color: #CCC;
}

body, input, label, select, option, textarea, button, fieldset, legend {
    font-family: -apple-system, Consolas, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Liberation Sans", "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #2c2a2a;
}

a {
    color: #bcbcbc;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #bcbcbc;
}

main {
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    min-height: calc(100vh - 50px);
    max-width: 1024px;
}

@media screen and (max-width: 768px) {
    main {
        margin: 0 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    main {
        margin: 0 50px;
    }
}

.clearfix {
    *zoom: 1;
    /* 兼容 IE 低版本 */
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.mjx-chtml {
    outline: 0;
}

.MJXc-display {
    overflow-x: auto;
    overflow-y: hidden;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(52,50,50,0.97);
    overflow: auto;
    z-index: 300;
}

.bottom-bar-left, .bottom-bar-right {
    display: inline-flex;
    align-items: center;
}

.bottom-bar a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all .15s linear;
    color: #42A5F5;
}

.bottom-bar a:hover {
    border-radius: 50%;
    color: white;
    background: #42A5F5;
}

.bottom-bar a[data-enable="false"] {
    color: #90CAF9;
    cursor: not-allowed;
}

.bottom-bar a[data-enable="false"]:hover {
    color: white;
    background: #90CAF9;
}

@media screen and (min-width: 769px) {
    .bottom-bar #site-toggle-share-btn {
        display: none;
    }
}

.site-comment-contanier #site-comment-info, .site-comment-contanier #site-comment, .site-comment-contanier #disqus_thread {
    max-width: 1024px;
    margin: 0 auto;
}

.site-comment-contanier[data-plateform="leancloud"] {
    background: rgba(48, 46, 46, 0.97);
    padding-top: 30px;
}

@media screen and (max-width: 768px) {
    .site-comment-contanier {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .site-comment-contanier {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.site-comment-contanier #site-comment-info {
    padding: 5px 0;
    line-height: 2;
    font-size: 16px;
    font-weight: bold;
}

.site-comment-contanier #site-comment {
    padding-bottom: 20px;
}

.site-comment-contanier #site-comment .vinfo .vcount {
    display: none !important;
}

.site-comment-contanier #disqus_thread {
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .site-comment-contanier #disqus_thread {
        padding-bottom: 20px;
    }
}

#site-layer {
    z-index: 600;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.site-layer-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(52,50,50, 1);
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    max-width: 400px;
}

.site-layer-header {
    padding: 15px 25px;
    border-bottom: 1px solid #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-layer-header-title {
    font-size: 18px;
}

.site-layer-header i {
    font-size: 24px;
    color: #9E9E9E;
    transition: all .3s ease;
}

.site-layer-header i:hover {
    cursor: pointer;
    color: #616161;
}

.site-layer-body {
    padding: 25px;
    min-height: 100px;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
}

.site-layer-input {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.site-layer-input-choose {
    position: relative;
    margin-right: 10px;
    min-width: 55px;
    text-align: center;
    cursor: pointer;
}

.site-layer-input input {
    list-style: none;
    width: 100%;
    height: 40px;
    display: inline-block;
    line-height: 1.5;
    padding: 5px 30px 5px 10px;
    color: #bcbcbc;
    background-color: rgba(72,70,70,0.97);
    background-image: none;
    border: 1px solid rgba(52,50,50, 1);
    border-radius: 4px;
    transition: all .3s;
}

.site-layer-input input:focus {
    border-color: #555555;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(100, 181, 246, 0.2);
}

.site-layer-input i {
    font-size: 16px;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    color: #9E9E9E;
    transition: all .3s ease;
}

.site-layer-input i:hover {
    cursor: pointer;
    color: #2196F3;
}

.site-layer-reward {
    width: 100%;
    overflow: auto;
}

.site-layer-reward::-webkit-scrollbar {/*滚动条整体样式*/
	width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 5px;
	scrollbar-arrow-color:red;

}
.site-layer-reward::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: #696969;
	scrollbar-arrow-color:red;
}
.site-layer-reward::-webkit-scrollbar-track {/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 0;
	background: rgba(0,0,0,0.1);
}

.site-layer-reward div {
    width: 100%;
    padding: 10px calc(50% - 128px);
    text-align: center;
}

.site-layer-reward div img {
    width: 256px;
    height: 256px;
}

.site-layer-reward div p {
    font-size: 18px;
    margin: 10px 0;
}

#share-btn {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 300;
}

@media screen and (max-width: 768px) {
    #share-btn {
        display: none;
    }
}

#share-btn a {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all .3s;
}

#share-btn a:hover {
    padding-left: 8px;
    width: 48px;
}

#share-btn-qq {
    background: rgba(86, 84, 84, 0.97);
}

#share-btn-qq:hover {
    background: rgba(137, 135, 135, 0.97);
}

#share-btn-wechat {
    background: rgba(95, 93, 93, 0.97);
}

#share-btn-wechat:hover {
    background: rgba(145, 143, 143, 0.97);
}

#share-btn-twitter {
    background: rgba(50, 48, 48, 0.97);
}

#share-btn-twitter:hover {
    background: rgba(95, 93, 93, 0.97);
}

#share-btn-facebook {
    background: rgba(63, 61, 61, 0.97);
}

#share-btn-facebook:hover {
    background: rgba(114, 112, 112, 0.97);
}

#share-btn-weibo {
    background: rgba(78, 76, 76, 0.97);
}

#share-btn-weibo:hover {
    background: rgba(128, 126, 126, 0.97);
}

.table-content {
    display: block;
    position: fixed;
    right: -300px;
    top: 0;
    height: 100vh;
    width: 300px;
    /*min-width: 300px;*/
    background: rgba(52,50,50,0.97);
    overflow-y: auto;
    z-index: 900;
    transition: right 0.5s ease;
}

@media screen and (max-width: 768px) {
    .table-content {
        right: -250px;
        width: 250px;
    }
}

.table-content-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    border-bottom: 2px dotted #555;
}

.table-content-title #site-toc-hide-btn {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 58px;
    line-height: 58px;
    color: #03A9F4;
    cursor: pointer;
    transition: all 0.5s ease;
}

.table-content-title #site-toc-hide-btn:hover {
    color: #29B6F6;
    left: 20px;
}

.table-content-title span {
    display: inline-block;
    background: #555;
    color: white;
    margin: 0 auto;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    transition: all .3s ease;
}

.table-content-title span:hover {
    background: #29B6F6;
    cursor: pointer;
}

.table-content-main {
    max-height: calc(100% - 60px);
    overflow: auto;
    padding: 20px 0 20px 13px;
    font-family: -apple-system, "PingFang SC", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.table-content-main ol, .table-content-main ul, .table-content-main li {
    list-style: none;
}

#table-toc .toc {
    margin-left: 1.5rem;
}

.table-content-main .toc-item {
    line-height: 35px;
}

.table-content-main .toc-item a {
    color: #757575;
    padding-left: 0;
    border-left: 2px solid transparent;
    display: inline-block;
    width: 100%;
    transition: padding-left .3s ease, background .3s ease, border-left-color .1s linear;
}

.table-content-main .toc-item a:hover {
    padding-left: 10px;
    border-left-color: #03A9F4;
    color: #03A9F4;
    background: #555;
}

.table-content-main .toc-child {
    padding-top: 4px;
    padding-left: 15px;
}

.site-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: rgba(52,50,50,0.97) solid 2px;
    padding-left: 10px;
    background: rgba(52,50,50,0.97);
    z-index: 300;
}

@media screen and (min-width: 769px) {
    .site-header {
        border-bottom: transparent solid 2px;
        box-shadow: /*0 2px 2px #ECEFF1;*/ rgba(69, 71, 77, 0.2) 0 1px 10px 0;
    }
}

@media screen and (max-width: 768px) {
    .site-header {
        /*background: #F5F5F5;*/
        box-shadow: rgba(69, 71, 77, 0.2) 0px 1px 10px 0px;
    }
}

.site-header-brand, .site-header-right {
    display: flex;
    align-items: center;
}

.site-header-brand-title {
    font-weight: bold;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .site-header-brand-title {
        font-size: 22px;
    }
}

.site-header-brand-motto {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    color: #828282;
}

.site-header-right {
    justify-content: flex-end;
}

.site-header-navigation {
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .site-header-navigation {
        display: none;
    }
}

.site-header-navigation a {
    margin-right: 15px;
    color: #9E9E9E;
    display: block;
    transition: all .3s linear;
}

.site-header-navigation a:hover {
    color: #616161;
}

.site-header-btn {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.site-header-btn a {
    display: inline-block;
    text-align: center;
    height: 58px;
    line-height: 58px;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .site-header-btn a {
        width: 58px;
    }

    .site-header-btn a#site-github {
        background: #2c2a2a;
    }

    .site-header-btn a#site-search {
        background: #3c3a3a;
    }

    .site-header-btn a#site-nav-btn {
        display: none;
    }

    .site-header-btn a i {
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .site-header-btn a#site-github {
        display: none;
    }

    .site-header-btn a i {
        padding: 0 20px 0 10px;
        color: #616161;
    }
}

#site-nav {
    z-index: 950;
    right: -180px;
    width: 180px;
}

#site-nav .table-content-main {
    padding-left: 0;
}

#site-nav .table-content-main li {
    text-align: center;
}

#site-nav .table-content-main li a {
    border-left: 0;
}

#site-nav .table-content-main li a:hover {
    padding-left: 0;
}

#site-process {
    position: fixed;
    left: 0;
    top: 58px;
    height: 2px;
    width: 0;
    background: #42A5F5;
    z-index: 300;
}

.site-footer-wrapper {
    background: rgba(55, 53, 53, 0.97);
    margin-bottom: 50px;
    word-break: break-all;
}

.site-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .site-footer {
        padding: 30px 20px 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .site-footer {
        padding: 30px 50px 30px;
    }
}

.site-footer a {
    color: #1C86EE;
    transition: all .15s linear;
}

.site-footer a:hover {
    color: white;
}

.site-footer-col {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    width: 33.33333%;
}

@media screen and (max-width: 768px) {
    .site-footer-col {
        width: 50%;
    }
}

.site-footer-col h5 {
    margin-bottom: 15px;
    font-size: 1.1em;
    color: #CFD8DC;
}

.site-footer-col span {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

.site-footer-info {
    width: 100%;
    color: #CFD8DC;
}

.site-footer-info:not(:last-child) {
    margin-bottom: 5px;
}

.home-article-wrapper {
    display: block;
    min-height: 330px;
    margin: 30px 0;
    border-radius: 10px;
}

.home-article-cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transition: all .3s ease;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    .home-article-cover {
        display: none;
    }
}

.home-article-cover:hover {
    z-index: 100;
    width: calc(50% + 30px);
}

.home-article-cover img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-article-inner {
    transition: all .3s ease;
    background: rgba(50, 48, 48, 0.97);
    width: 100%;
    padding: 40px 60px 20px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .home-article-inner {
        padding: 20px 15px;
    }
}

.home-article-inner[data-cover=true] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (max-width: 768px) {
    .home-article-inner[data-cover=true] {
        border-radius: 10px;
    }
}

@media screen and (min-width: 1025px) {
    .home-article-inner[data-cover=true]:hover {
        z-index: 100;
        padding-left: 80px;
        width: calc(100% + 20px);
    }
}

.home-article {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.05);
    border-radius: 12px;
    background-color: rgba(48, 46, 46, 0.97);
}

.home-article[data-cover=false] {
    padding-right: 0;
}

.home-article[data-cover=true] {
    padding-right: 50%;
}

@media screen and (max-width: 1024px) {
    .home-article[data-cover=true] {
        padding: 0;
    }
}

.home-article-title {
    font-size: 26px;
    line-height: 42px;
    margin: 20px 0 25px;
    color: #1c1f21;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: 700;
}

.home-article-content {
    margin-top: 10px;
    font-size: 16px;
}

.home-article-read {
    display: inline-block;
    margin-top: 15px;
    margin-left: 0;
    color: #85839e;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    transition: all .1s linear;
}

.home-article-read:hover {
    color: #616161;
    margin-left: 10px;
}

.passage {
    max-width: 1024px;
    margin: 20px auto;
    /*width: 95%;*/
    padding: 40px 40px 24px 40px;
    box-shadow: 0 8px 16px 6px rgba(7, 17, 27, 0.05);
    border-radius: 12px;
    background-color: rgba(48, 46, 46, 0.97);
}

@media screen and (max-width: 768px) {
    .passage {
        max-width: 1024px;
        margin: 20px auto;
        /*width: 95%;*/
        padding: 20px 20px 24px 20px;
        box-shadow: none;
        border-radius: 12px;
        background-color: #2c2a2a;
    }
}

.passage-article {
    font-size: 16px;
    font-family: -apple-system, "PingFang SC", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 2;
    letter-spacing: 0.2px;
    word-break: break-word;
}

.passage-article h1, .passage-article h2, .passage-article h3, .passage-article h4, .passage-article h5, .passage-article h6 {
    position: relative;
    font-weight: 600;
    margin: 15px 0;
}

.passage-article h1 a, .passage-article h2 a, .passage-article h3 a, .passage-article h4 a, .passage-article h5 a, .passage-article h6 a {
    padding-left: 5px;
    transition: all .15s linear;
}

.passage-article h1::before, .passage-article h2::before, .passage-article h3::before, .passage-article h4::before, .passage-article h5::before, .passage-article h6::before {
    font-size: 0.8em;
    content: "\f0c1";
    color: #F4511E;
    font-family: FontAwesome;
}

.passage-article h1:hover a, .passage-article h2:hover a, .passage-article h3:hover a, .passage-article h4:hover a, .passage-article h5:hover a, .passage-article h6:hover a {
    padding-left: 10px;
}

.passage-article h1:hover::before, .passage-article h2:hover::before, .passage-article h3:hover::before, .passage-article h4:hover::before, .passage-article h5:hover::before, .passage-article h6:hover::before {
    color: #2196F3;
}

.passage-article h1 {
    font-size: 2em;
    margin: 16px 0;
}

.passage-article h2 {
    font-size: 1.75em;
}

.passage-article h3 {
    font-size: 1.5em;
}

.passage-article h4 {
    font-size: 1.25em;
}

.passage-article h5 {
    font-size: 1.125em;
}

.passage-article h6 {
    font-size: 1em;
}

.passage-article p {
    margin: 12px 0;
}

.passage-article blockquote {
    margin: 15px 0;
    padding: 1px 12px;
    border-left: 3px solid #5a5a5a;
    color: #CCCCCC;
    background: #3c2b2b;
}

.passage-article a {
    display: inline-block;
    position: relative;
    color: #F4511E;
    font-weight: bolder;
}

.passage-article a::before {
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #2196F3;
    transition: all 0.3s ease;
}

.passage-article a:hover {
    color: #2196F3;
}

.passage-article a:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.passage-article code {
    font-family: Consolas, Microsoft Jhenghei, Hiragino Sans GB, Microsoft YaHei, operator mono ssm a,operator mono ssm b,operator mono,source code pro,Menlo,Consolas,Monaco,monospace;
    /*background: rgba(40, 38, 38, 0.97);*/
    color: rgb(65, 158, 233);
    word-wrap: break-word;
    margin: 0 3px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: -webkit-gradient(linear,left top,right top,from(#514347),to(#392f2f));
    background: linear-gradient(to right, #514347, #403535);
    font-size: 90%;
    overflow-wrap: break-word;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

.passage-article img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 5px;
    cursor: zoom-in;
    transition: all .3s linear;
}

.passage-article img:hover {
    box-shadow: 0 0 3px #9E9E9E;
}

.passage-article ol, .passage-article ul {
    margin: 0 0 16px;
    padding-left: 1.2em;
}

.passage-article ol ol, .passage-article ul ol {
    list-style-type: lower-roman;
}

.passage-article > table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-radius: 4px 4px 0 0;
    margin: 16px 0;
}

.passage-article > table thead {
    background: #F5F5F5;
}

.passage-article > table thead th {
    padding: 16px;
    border-bottom: 1px solid #EEEEEE;
}

.passage-article > table tbody tr {
    transition: all .3s ease;
}

.passage-article > table tbody tr:hover {
    background: #E1F5FE;
}

.passage-article > table tbody tr td {
    padding: 16px;
    border-bottom: 1px solid #EEEEEE;
}

.passage-title-wrap {
    line-height: 42px;
    margin: 0px 0 40px;
}

.passage-title {
    font-size: 36px;
    color: #bcbcbc;
    line-height: 40px;
    margin: 8px 0;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .passage-title {
        font-size: 30px;
    }

    .passage-title-wrap {
        margin-bottom: 25px;
    }
}

.passage-cover {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 50%;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .passage-cover {
        display: none;
    }
}

.passage-cover figure {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    border-radius: 10px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.highlight .code pre,.highlight {
    background-color: rgba(32,28,41,1);
}

pre {
    font-family: operator mono ssm a,operator mono ssm b,operator mono,source code pro,Menlo,Consolas,Monaco,monospace;
    clear: both;
    color: #d4d4d4;
    background: rgba(32,28,41,.75);
    padding: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
    line-height: 28px;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden;
}

.passage-copyright {
    border-left: 3px solid #FF5722;
    background: #2c2a2a;
    padding: 15px 20px;
    margin-top: 30px;
}

.passage-copyright div {
    line-height: 2;
}

.passage-copyright a {
    transition: all .1s linear;
}

.passage-copyright a:hover {
    color: #F4511E;
}

.passage-meta {
    font-size: 13px;
    color: #9199a1;
    line-height: 24px;
}

.passage-meta a {
    color: #9199a1;
    transition: all .2s;
}

.passage-meta a:hover {
    color: #1C86EE;
}

.passage-meta i {
    display: inline-block;
    margin-right: 5px;
}

.passage-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 15px;
    border-top: 1px solid #2c2a2a;
}

.passage-tags a {
    display: inline-flex;
    margin: 0 15px 15px 0;
    align-items: center;
    height: 30px;
    padding: 5px 10px;
    background: #343232;
    border: 1px solid #343232;
    border-radius: 3px;
    transition: all .15s linear;
}

.passage-tags a i {
    display: inline-block;
    margin-right: 5px;
}

.passage-tags a:hover {
    color: #2196F3;
    border-color: #2196F3;
}

.set {
    display: block;
    max-width: 768px;
    margin: 0 auto 30px;
    line-height: 2;
    padding-left: 30px;
}

.set h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 15px 0 20px;
}

.set a {
    display: inline-block;
    position: relative;
    color: #bcbcbc !important;
    padding: 5px 5px;
}

.set a::before {
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #2196F3;
    transition: all 0.3s ease;
}

.set a:hover {
    color: #2196F3 !important;
}

.set a:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.set .category-list-item, .set .tag-list-item {
    display: inline-block;
    font-size: 17px;
    text-align: left;
}

.set .category-list-item .category-list-count, .set .category-list-item .tag-list-count, .set .tag-list-item .category-list-count, .set .tag-list-item .tag-list-count {
    color: #9E9E9E;
    font-style: normal;
}

.set .category-list-item .category-list-count::before, .set .category-list-item .tag-list-count::before, .set .tag-list-item .category-list-count::before, .set .tag-list-item .tag-list-count::before {
    content: "[";
}

.set .category-list-item .category-list-count::after, .set .category-list-item .tag-list-count::after, .set .tag-list-item .category-list-count::after, .set .tag-list-item .tag-list-count::after {
    content: "]";
}

.set .category-list-item {
    width: 60%;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .set .category-list-item {
        width: 100%;
    }
}

.set .tag-list-item {
    margin: 10px 20px;
}

.timeline {
    display: block;
    max-width: 768px;
    margin: 30px auto 40px;
    padding-left: 30px;
    border-left: 3px solid #555555;
}

.timeline .timeline-title::before, .timeline .timeline-subtitle::before, .timeline .timeline-item::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-color: #555555;
    border-radius: 50%;
    background: rgba(52,50,50,0.97);
    content: "";
    transition: all .3s ease;
}

.timeline-title, .timeline-subtitle, .timeline-item {
    position: relative;
    margin-bottom: 25px;
    line-height: 32px;
}

.timeline-title:hover::before, .timeline-subtitle:hover::before, .timeline-item:hover::before {
    border-color: #F4511E;
}

.timeline-title:hover a, .timeline-subtitle:hover a, .timeline-item:hover a {
    color: #F4511E;
}

.timeline-title {
    font-size: 28px;
}

.timeline-title::before {
    width: 12px;
    height: 12px;
    border-width: 4px;
    left: -42px;
}

.timeline-subtitle {
    font-weight: normal;
    font-size: 22px;
}

.timeline-subtitle::before {
    width: 11px;
    height: 11px;
    border-width: 3px;
    left: -40px;
}

.timeline-item {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    position: relative;
    padding-left: 100px;
}

.timeline-item time {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font-weight: 300;
    color: #888888;
    width: 120px;
}

.timeline-item a {
    color: #bcbcbc;
    font-weight: normal;
    transition: all .3s ease;
}

.timeline-item::before {
    width: 9px;
    height: 9px;
    border-width: 2px;
    left: -38px;
}

.about {
    display: block;
    margin: 30px auto 40px;
}

.friend .friend-card-meta, .friend .friend-card-avatar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.friend-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
}

.friend-card {
    width: 200px;
    background: rgba(52,50,50,0.97);
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(52,50,50,0.97);
}

.friend-card-layer {
    height: 150px;
    position: relative;
}

.friend-card-layer:hover div {
    height: 100%;
}

.friend-card-meta {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .3s ease;
}

.friend-card-meta p {
    color: #bcbcbc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.friend-card-avatar {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.friend-card-content {
    padding: 25px;
    word-break: break-all;
}

.friend-card-content-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
}

.friend-card-content-site {
    font-weight: normal;
    color: #616161;
    transition: all .15s;
}

.friend-card-content-site:hover {
    color: #2196F3;
}

.friend article {
    margin-bottom: 30px;
}


.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    background: rgba(52,50,50, 1)
}

.lds-ripple {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px)
}

.lds-ripple .lds-pos {
    position: absolute;
    border: 2px solid #1952FF;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, .1, .5, 1) infinite
}

.lds-ripple .lds-pos:nth-child(2) {
    animation-delay: -.5s
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 0
    }
    5% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0
    }
}

.left_prev_arrow_div {
    margin-left: -620px;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 42px;
    width: 42px;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    transform: translateY(-50%);
}

.left_prev_arrow {
    font-size: 20px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: rgba(48, 46, 46, 0.97);
    line-height: 38px;
    text-align: center;
    color: #999;
    position: absolute;
    cursor: pointer;
    border: 1px solid #4c4a4a;
}

.right_prev_arrow_div {
    margin-left: 580px;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 42px;
    width: 42px;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    transform: translateY(-50%);
}

.right_prev_arrow {
    font-size: 20px;
    letter-spacing: -3px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: rgba(48, 46, 46, 0.97);
    line-height: 38px;
    text-align: center;
    color: #999;
    position: absolute;
    cursor: pointer;
    border: 1px solid #4c4a4a;
}

.arrow_div a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all .15s linear;
  color: #42A5F5;
}

.arrow_div a:hover {
  border-radius: 50%;
  color: white;
  background: #42A5F5;
}

.arrow_div a[data-enable="false"] {
  color: #90CAF9;
  cursor: not-allowed;
}

.arrow_div a[data-enable="false"]:hover {
  color: white;
  background: #90CAF9;
}

@media screen and (max-width: 768px) {
  .arrow_div {
    display: none;
  }
}

.v .vwrap {
    border-color: #4c4a4a !important;
}

.v .vbtn {
    background-color: #4c4a4a !important;
    color: #CCC !important;
    border-color: #4c4a4a !important;
}

.v .vbtn:hover {
    color: white !important;
    background: #42A5F5 !important;
}

.v .vlist .vcard .vhead .vsys {
    background-color: #4c4a4a !important;
}

.v .vlist .vcard .vimg {
    border-color: #4c4a4a !important;
}

.v .vlist .vcard .vh {
    border-bottom-color: #4c4a4a !important;
}

.v code, .v pre {
    background-color: #4c4a4a !important;
    color: #CCCCCC !important;
}

.v * {
    color: #bcbcbc !important;
}

.v p {
    color: #bcbcbc;
}

.v a {
    color: #1abc9c !important;
}

.v .vwrap .vheader .vinput {
    border-bottom-color: #4c4a4a !important;
}

body::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.07);
    background-clip: padding-box;
    background-color: #696969;
    min-height: 40px;
    padding-top: 100px;
    border-radius: 4px;
}

body::-webkit-scrollbar-track {/*滚动条里面轨道*/
	/*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
	border-radius: 0;
	background: #2c2a2a;
}

body a#toggle-menu-tree {
    background-color: #343232;
    border: 0.0625rem solid #2c2a2a;
}

a#toggle-menu-tree {
    top: 0;
    bottom: 0;
    font-size: 1.375rem;
    position: fixed;
    right: 0;
    margin-right: -5rem;
    margin-bottom: auto;
    margin-top: auto;
    padding-left: .35rem;
    color: #999;
    width: 6.25rem;
    height: 6.25rem;
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
    line-height: 6.25rem;
    border-radius: 6.25rem;
    border: .0625rem solid #f0f0f0;
    opacity: 1;
    font-family: -apple-system, sans-serif;
    z-index: 890;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    -webkit-box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.117);
    -moz-box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.117);
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.117);
}

a#toggle-menu-tree i {
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all
}

a#toggle-menu-tree:hover {
    background: #343232;
    -webkit-transform: translateX(-1.25rem);
    -moz-transform: translateX(-1.25rem);
    -ms-transform: translateX(-1.25rem);
    -o-transform: translateX(-1.25rem);
    transform: translateX(-1.25rem)
}

a#toggle-menu-tree.revert {
    background: #333
}

body a#toggle-menu-tree.revert {
    background: #ccc
}

a#toggle-menu-tree.show {
    right: 0
}

a#toggle-menu-tree.hide {
    right: -5.3125rem
}

#site-toc.display-menu-tree a#toggle-menu-tree {
    background: #343232;
    padding-left: 0;
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    margin-right: 2.6375rem;
    -webkit-transform: translateX(-17.5rem);
    -moz-transform: translateX(-17.5rem);
    -ms-transform: translateX(-17.5rem);
    -o-transform: translateX(-17.5rem);
    transform: translateX(-17.5rem)
}


@media screen and (max-width: 768px) {
    #site-toc.display-menu-tree a#toggle-menu-tree {
        margin-right: -3.3625rem;
    }
}

#site-toc.display-menu-tree a#toggle-menu-tree i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

#site-toc.display-menu-tree a#toggle-menu-tree.hide {
    right: 0
}

.pagination {
    margin: 10px;
    padding: 0px 0 56px 0;
    border-bottom: 1px solid rgba(52,50,50,0.97);
}

.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 13px;
}

.pagination ul li {
    margin: 0 2px 0 2px;
    display: inline;
    line-height: 1;
}

.pagination ul li a {
    text-decoration: none;
}

.pagination .pre {
    float: left;
}

.pagination .next {
    float: right;
}

.pagination a[data-enable="false"] {
    display: none;
    cursor: not-allowed;
}

.btn {
    display: inline-block;
    position: relative;
    outline: 0;
    color: rgba(188, 188, 188, 0.84);
    background: rgba(55, 53, 53, 0.97);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(52,50,50,0.97);
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em;
}

.btn[data-enable="false"]:hover {
    background: #90CAF9;
    border: 1px solid #90CAF9;
}

[role="navigation"] {
    padding: 0.5em 1.25em;
    line-height: 1.666em;
}

.btn:hover {
    display: inline-block;
    position: relative;
    outline: 0;
    color: white;
    background: #42A5F5;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #42A5F5;
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em;
    transition: all .15s linear;
}

figure::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

figure::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.07);
    background-clip: padding-box;
    background-color: #494939;
    min-height: 40px;
    padding-top: 100px;
    border-radius: 4px;
}

figure::-webkit-scrollbar-track {/*滚动条里面轨道*/
	/*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
	border-radius: 0;
	background: #2c2a2a;
}

.search-box {
    flex: 0 0 auto;
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-right: 1rem;
}

.search-box input {
    cursor: text;
    width: 10rem;
    height: 2rem;
    color: #CCCCCC;
    display: inline-block;
    border: 1px solid rgba(52,50,50, 1);
    border-radius: 2rem;
    font-size: .9rem;
    line-height: 2rem;
    padding: 0 .5rem 0 2rem;
    outline: none;
    transition: all .2s ease;
    background: rgba(52,50,50,0.97) url(https://muchen-img.oss-cn-hongkong.aliyuncs.com/images/search.83621669.svg) .6rem .5rem no-repeat;
    background-size: 1rem;
    margin-bottom: 5px;
}

.search-box input:focus {
    cursor: auto;
    border-color: rgb(78, 76, 76);
    background-color: rgba(72,70,70,0.97);
}

.search-box .suggestions {
    background: rgba(72,70,70,0.97);
    width: 20rem;
    position: absolute;
    top: 2.5rem;
    border: 1px solid rgb(78, 76, 76);
    border-radius: 6px;
    padding: .4rem;
    list-style-type: none
}

.search-box .suggestions.align-right {
    right: 0
}

.search-box .suggestion {
    line-height: 1.4;
    padding: .4rem .6rem;
    border-radius: 4px;
    cursor: pointer
}

.search-box .suggestion a, .search-result-title {
    white-space: normal;
    color: #CCCCCC;
}

.search-box .suggestion a.page-title, .search-result-title {
    font-weight: 600;
    font-size: 16px;
}

.search-box .suggestion a .header, .search-result {
    font-size: .9em;
    margin-left: 1.25em;
    color: #9199a1;
}

.search-keyword {
    color: rgb(65, 158, 233);
    font-weight: bold;
}

.search-box .suggestion.focused a, .page-title:hover {
    color: #3eaf7c;
    border-bottom: 1px solid #2196F3;
    transition: all 0.3s ease;
}

@media (max-width: 959px) {
    .search-box input {
        cursor: pointer;
        width: 0;
        border-color: transparent;
        position: relative
    }

    .search-box input:focus {
        cursor: text;
        left: 0;
        width: 10rem
    }
}

@media (-ms-high-contrast: none) {
    .search-box input {
        height: 2rem
    }
}

@media (max-width: 959px) and (min-width: 719px) {
    .search-box .suggestions {
        left: 0
    }
}

@media (max-width: 719px) {
    .search-box {
        margin-right: 0
    }

    .search-box input {
        left: 0rem
    }

    .search-box .suggestions {
        right: 0
    }
}

@media (max-width: 419px) {
    .search-box .suggestions {
        width: calc(100vw - 4rem)
    }

    .search-box input:focus {
        width: 8rem
    }
}

.suggestions{
    max-height: 400px;
    overflow-y: auto;
}

.suggestions::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.suggestions::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.07);
    background-clip: padding-box;
    background-color: #494939;
    min-height: 40px;
    padding-top: 100px;
    border-radius: 4px;
}

.suggestions::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    border-radius: 0;
    background: #2c2a2a;
}

/*# sourceMappingURL=index.css.map */
